notes.txt
.env
/ctanotifierdjango/ctanotifierdjango/settings.py
/django-env
ctanotifierdjango/db.sqlite3
ctanotifierdjango/ctanotifierdjango/__pycache__
ctanotifierdjango/djangocta/__pycache__
ctanotifierdjango/djangocta/migrations
ctanotifierdjango/djangocta/config.py
ctanotifierdjango/djangocta/keyHold.py